.box_bogo_guia {
    padding: 2rem 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    h1 {
        text-align: left;
        font-weight: bold;
        text-decoration: none;
    }

    .nu_orden_box {
        text-align: right;
        font-weight: bold;
        font-size: 2rem;
    }

    .table_order_box_guia {
        h2 {
            font-size: 3rem;
            padding: 1rem 0;
        }
        p { 
            font-weight: bold;
            font-size: 1.6rem;
            padding: .5rem 0;

            span {
                font-weight: normal;
            }
        }
    }
}