.flex_ventasSac {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ventalTotalSac_component {
    text-align: center;
    h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3rem;
        color: #f00000;
    }
    p {
        font-size: 2rem;
        color: #003;
        font-weight: bold;
    }
}
.button_excel {
    display: flex;
    justify-content: center;
    padding: 3rem;

    .xls-button {
        background-color: #f00000;
        color: #fff;
        border-radius: 15px;
        padding: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}
