.VENTAS_SAC {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #e95e5e;
    text-decoration: underline;
    font-size: 4rem;
    margin-top: 3rem;

}
.button_excel {
    display: flex;
    justify-content: center;
    padding: 3rem;

    .xls-button {
        background-color: #f00000;
        color: #fff;
        border-radius: 15px;
        padding: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}
